# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
.env/
env/
venv/
.venv/

# VS Code settings
.vscode/

# System files
.DS_Store

# Data and result files
data/*
!data/.gitkeep
/data/


results/*
!results/.gitkeep

# Logs and outputs
*.log
*.out
*.h5

# Sensitive files or credentials
*.json
*.key
*.secret